/*aside {*/
/*  margin-left: 15px;*/
/*  float: right;*/
/*}*/

/*img {*/
/*  border-radius: 8px;*/
/*  outline: 3px solid #2892D7;*/
/*}*/

/*p {*/
/*  font-size: x-large;*/
/*  line-height: 30px;*/
/*}*/

h1 {
  margin-bottom: 1.3em;
}

@media screen and (max-width: 890px){
  .scale {
    width: 100%;
    height: auto;
  }

  .scale-portait {
    width: 200px;
  }

  .scale-portait-container {
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
  }
}
